#title{
	background-color: #ff4c68;

 
}
h1{
	font-family: 'Montserrat', sans-serif;
  color: #fff;
}
h3{
	font-family:'Montserrat', sans-serif ;
	font-size: 3rem;

}
h2{
		font-family: 'Montserrat-block', sans-serif;
  color: #fff;
  font-weight: bold;

}
p{
	color: #8f8f8f;
     font-weight: bold;
}

.container-fluid{
	font-family:" Montserrat-black";
	font-size: 3rem;
	line-height: 1.5;
}
.image{
	transform: rotate(25deg);

	right: 20%;
}
#features{
	padding: 7% 15% 7% 15%;
}
.feature-box{
	text-align: center;
	padding: 5%;
}
 .icon{
 	color: #ef8172;
 	margin-bottom: 1rem;
 }
 .icon:hover{
color: #ff4c68;
 }
 /*...................testomonial section.........................*/
 #testimonials{
 padding: 7% 15% 7% 15%;
 text-align: center;
 background-color: #ff4c68;
 font-family:'Montserrat', sans-serif ;


 }
 *.testimonial-image{
 	width: 10%;
 	border-radius: 100%;
 	margin: 20px;
 }

 .carousel-item{
 	padding: 7% 15%;
 }

 #press{
 	background-color: #ff4c68;
 	text-align: center;
 	padding-bottom: 3%;
 }
 /*......................Pricing section.......................*/
 #pricing{
 	padding: 100px;
 	text-align: center;
 }
 .pricing-column{
 	padding: 3% 2%;
 }

 /*.....................cta..........................*/
 #cta{
 	background-color: #ff4c68;
 	color: #fff;
 	padding: 7% 15% 7% 15%;
 	text-align: center;
 
 }

 .cta-heading{
 	 font-family:'Montserrat', sans-serif ;
 	 font-size: 3.5rem;
 	 line-height: 3.5rem;
 	 text-align: center;

 }
 .download-button{
 	padding: 7%;
 	margin-top: 7%;

 }
 /*.................footer.....................*/
 #footer{
 	padding: 7% 15%;
 	text-align: center;

 }
 .social-icon{
 	margin: 20px 10px;
 }